.recommendations-container {
    display: flex;
    justify-content: center;
    background-color: #000;
    max-width: 100%;
    box-sizing: border-box;
}

.recommendations-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    box-sizing: border-box;
}


@media (max-width: 1024px) {
    .recommendations-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .recommendations-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .recommendations-list {
        grid-template-columns: repeat(2, 1fr);
    }
}