.recommendations-container {
    padding: 10px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.recommendations-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #222;
}

.recommendations-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding: 0;
}

.recommendations-list p {
    grid-column: span 2;
    text-align: center;
    color: #888;
    font-size: 16px;
}

@media (min-width: 1024px) {
    .recommendations-list {
        grid-template-columns: repeat(2, 1fr);
    }
}