.movie__slide {
    padding: 0 20px 20px;
    position: relative;
    overflow: hidden;
}

.movie__slide__title {
    margin-bottom: 10px;
    font-size: 24px;
}

.slide__container {
    display: flex;
    gap: 13px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    touch-action: pan-y;
    cursor: grab;
}

.slide__container::-webkit-scrollbar {
    display: none;
}

.slide__container:active {
    cursor: grabbing;
}

.slide__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 50px;
    cursor: pointer;
    z-index: 10;
    padding: 15px;
    transition: transform 0.3s ease, font-size 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}

.slide__button:hover {
    font-size: 60px;
}

.slide__button.left {
    left: 0px;
}

.slide__button.right {
    right: 0px;
}

@media (max-width: 1024px) {
    .movie__slide__title {
        font-size: 20px;
    }

    .slide__button {
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .movie__slide__title {
        font-size: 18px;
    }

    .slide__button {
        font-size: 40px;
    }

    .slide__button:hover {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .movie__slide__title {
        font-size: 16px;
    }

    .slide__button {
        font-size: 30px;
    }

    .slide__button:hover {
        font-size: 40px;
    }

    .slide__container {
        gap: 3px;
    }
}