.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    z-index: 20;
    transition: background-color 0.3s ease, height 0.3s ease;
}

.nav__black {
    background-color: #000;
}

.logo__area {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav__logo {
    width: 130px;
    object-fit: contain;
    cursor: pointer;
    margin-top: 5px;
}

.category__area {
    display: flex;
    gap: 15px;
    flex: 1;
    align-items: center;
    transition: max-height 0.3s ease-in-out;
}

.category__area.show {
    display: block;
    position: absolute;
    top: 50px;
    left: 90px;
    width: 150px;
    padding: 15px;
    max-height: 300px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    z-index: 5;
}

.category__area a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    transition: color 0.3s;
}

.category__area a:hover {
    color: #9f9f9f;
}

.menu__button {
    display: none;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    align-items: center;
    gap: 5px;
    z-index: 15;
}

.menu__container {
    display: flex;
    align-items: center;
    margin-left: -15px;
}

.menu__text {
    margin-right: 3px;
    font-size: 18px;
}

.menu__icon {
    font-size: 20px;
}

.searchAndAvatar__container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    padding-right: 50px;
    position: relative;
}

.search__icon {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.search__input-container {
    display: flex;
    align-items: center;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.5s ease;
}

.search__input-container.active {
    max-width: 200px;
}

.search__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    transition: opacity 0.3s ease;
}

.search__input:focus {
    outline: none;
    border-color: #555;
}

.nav__avatar {
    width: 38px;
    object-fit: contain;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .nav {
        padding: 0 15px;
    }

    .nav__logo {
        width: 130px;
    }

    .category__area {
        display: none;
    }

    .menu__button {
        display: flex;
    }

    .searchAndAvatar__container {
        padding-right: 40px;
    }
}

@media (max-width: 768px) {
    .nav {
        height: 60px;
    }

    .nav__logo {
        width: 100px;
    }

    .menu__text {
        font-size: 16px;
    }

    .menu__icon {
        font-size: 18px;
    }

    .searchAndAvatar__container {
        gap: 5px;
    }

    .nav__avatar {
        width: 33px;
    }
}

@media (max-width: 480px) {
    .nav {
        height: 50px;
        padding: 0 10px;
    }

    .nav__logo {
        width: 100px;
    }

    .menu__text {
        font-size: 15px;
    }

    .menu__icon {
        font-size: 16px;
    }

    .category__area.show {
        top: 40px;
        left: 40px;
    }

    .searchAndAvatar__container {
        padding-right: 27px;
        gap: 1;

    }

    .search__icon {
        margin-right: -5px;
    }

    .search__input-container.active {
        max-width: 140px;
    }

    .search__input {
        padding: 6px;
    }

    .nav__avatar {
        width: 30px;
    }
}