.movie-page {
    max-width: 1400px;
    margin: 0 auto;
    overflow-x: hidden;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 120px 0 30px 0;
}

.search-input-container {
    display: flex;
    position: relative;
    max-width: 600px;
    width: 100%;
}

.search-input-container input {
    width: 100%;
    padding: 13px;
    font-size: 15px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.input-icon {
    font-size: 20px;
    color: #333;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.genre-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 30px auto;
    width: 80%;
    padding: 0;
}

.genre-section button {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    height: 40px;
    flex: 1 1 auto;
    max-width: 120px;
    min-width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genre-section button.active,
.genre-section button:hover {
    border: 2px solid #eee;
}

.movie-container {
    padding: 0 20px;
}

.movie-list-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie-card {
    flex: 0 0 auto;
    width: 220px;
    height: 330px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.movie-card:hover {
    transform: scale(1.05);
}


.movie-title {
    flex-basis: 100%;
    margin: 0;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #eee;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.page-item {
    margin: 0 10px;
}

.page-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: #eee;
    font-size: 16px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s;
}

.page-arrow {
    font-size: 25px;
}

.page-link:hover {
    cursor: pointer;
}

.page-item.active .page-link {
    font-weight: 900;
    border: 2px solid #eee;
}


@media (max-width: 1024px) {
    .movie-card {
        width: 200px;
        height: 290px;
    }

    .search-input-container {
        width: 80%;
    }

    .genre-section {
        width: 80%;
        padding: 0;
        gap: 8px;
    }

    .genre-section button {
        padding: 8px 14px;
        max-width: 120px;
        height: 35px;
    }

    .movie-title {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .movie-card {
        width: 180px;
        height: 270px;
    }

    .search-input-container {
        width: 80%;
    }

    .genre-section {
        gap: 8px;
        width: 80%;
    }

    .genre-section button {
        font-size: 15px;
        padding: 8px 10px;
        height: 35px;
    }

    .movie-title {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .movie-card {
        width: 160px;
        height: 250px;
    }

    .search-input-container {
        width: 80%;
    }

    .genre-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        padding: 0;
        width: 80%;
    }

    .genre-section button {
        font-size: 14px;
        padding: 5px 8px;
        min-width: auto;
        height: 30px;
    }

    .movie-title {
        font-size: large;
    }

    .pagination {
        margin: 8px 0;
    }

    .page-item {
        margin: 0 10px;
    }

    .page-link {
        width: 27px;
        height: 27px;
        font-size: 15px;
    }

    .page-arrow {
        font-size: 18px;
    }
}